# Workbench

## 18.05.2023

The first step was to install ChatGPT's copilot extension.

Once this was done, we initially created a simple function to return the current timestamp:

In [2]:
# Create function that returns the current time
from sqlalchemy import create_engine
from datetime import datetime

def get_current_time():
    return datetime.now()

def connect_to_local_postgres_db():
    # Create the engine to connect to the PostgreSQL database
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
    # Create a connection to the engine called `conn`
    conn = engine.connect()
    # Return the connection
    return conn

Once this proved successful, it was decided to replicate the classes developed in the local repository.

One of the longest and most complex steps had been successfullz copying over the data from the Blue Bikes repository itself. We therefore started by writing a function to extract the data...

In [3]:
from urllib import request
from zipfile import ZipFile

def unzip_file_to_local_csv(zip_path):
    # Download the zip file from the URL
    request.urlretrieve(zip_path, 'data.zip')
    # Unzip the file
    ZipFile('data.zip').extractall('data')
    # Return the unzipped file
    # return 'data/tripdata.csv'

...and then tested it:

In [4]:
import os
unzip_file_to_local_csv('https://s3.amazonaws.com/hubway-data/202304-bluebikes-tripdata.zip')

It ran successfully. We then inserted the resulting CSV as a table in the local PostGRES database:

In [5]:
import pandas as pd

def insert_csv_as_table_in_local_postgres(csv_path, tablename = 'journeys'):
    # Read in the DataFrame from the CSV file
    df = pd.read_csv(csv_path)
    # Create a connection to the database
    conn = connect_to_local_postgres_db()
    # Append the data to the `trips` table
    df.to_sql(tablename, conn, index=False, if_exists='append')
    # Close the connection
    conn.close()

insert_csv_as_table_in_local_postgres('data/202304-bluebikes-tripdata.csv')

Note that the cell beneath was automatically generated by typing the word "finally" in a Python cell.

Finally, let's create a function that will run all of the functions we've created in order. This will allow us to run a single function to get the data from the URL, unzip it, and insert it into our database.

In [6]:
def call_prior_functions():
    # Unzip the file
    unzip_file_to_local_csv('https://s3.amazonaws.com/hubway-data/202304-bluebikes-tripdata.zip')
    # Insert the CSV into the database
    insert_csv_as_table_in_local_postgres('data/202304-bluebikes-tripdata.csv')

However, it was not yet time to take this step. We needed to first create a function to load data from the created table:

In [7]:
def run_sql_query_on_postgres_db(query):
    # Create a connection to the database
    conn = connect_to_local_postgres_db()
    # Read the SQL query into a DataFrame
    df = pd.read_sql(query, conn)
    # Close the connection
    conn.close()
    # Return the DataFrame
    return df

This was then tested:

In [8]:
sql_query = """
SELECT * FROM journeys LIMIT 10;
"""
test_df = run_sql_query_on_postgres_db(sql_query)
test_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0093AA5E7E3E0158,docked_bike,2023-04-13 13:49:59,2023-04-13 13:55:04,Innovation Lab - 125 Western Ave at Batten Way,A32011,Soldiers Field Park - 111 Western Ave,A32006,42.363713,-71.124598,42.364263,-71.118276,member
1,BFA8B88E063688F4,docked_bike,2023-04-25 09:44:38,2023-04-25 09:51:28,Museum of Science,M32045,One Broadway / Kendall Sq at Main St / 3rd St,M32003,42.367690,-71.071163,42.362242,-71.083111,member
2,A9C51FA200C31A81,docked_bike,2023-04-24 18:39:31,2023-04-24 18:58:05,New Balance - 20 Guest St,D32001,HMS/HSPH - Avenue Louis Pasteur at Longwood Ave,B32003,42.357329,-71.146735,42.337417,-71.102861,casual
3,0C1D451797FF0871,docked_bike,2023-04-04 19:25:31,2023-04-04 19:32:14,Museum of Science,M32045,Gore Street at Lambert Street,M32081,42.367690,-71.071163,42.373080,-71.086342,member
4,DDDCD0A2D2EE7A37,docked_bike,2023-04-11 08:36:14,2023-04-11 08:52:39,Museum of Science,M32045,Columbus Ave at W. Canton St,C32077,42.367690,-71.071163,42.344742,-71.076482,member

In [9]:
def spatial_join_to_nearest_station():
    # Create the SQL query
    sql_query = """
    SELECT
        t.*,
        s.station_id,
        s.station_name,
        s.station_geom
    FROM trips AS t
    JOIN stations AS s
    ON ST_DWithin(t.start_geom, s.station_geom, 100)
    LIMIT 10;
    """
    # Run the query and return the DataFrame
    return run_sql_query_on_postgres_db(sql_query)

In [10]:
insert_csv_as_table_in_local_postgres('data/current_bluebikes_stations.csv', 'stations')

In [11]:
from geopandas import GeoDataFrame, read_file, points_from_xy
import sqldf

# Boston neighbourhoods
polydf = read_file('data/Boston_Neighborhoods.geojson')

stations = run_sql_query_on_postgres_db("SELECT * FROM stations")
pointdf = GeoDataFrame(
    stations, geometry=points_from_xy(stations.Longitude, stations.Latitude))

pointdf.set_crs(epsg='4326', inplace=True)

# Make sure they're using the same projection reference

#https://geopandas.org/en/stable/gallery/spatial_joins.html
joined_df = pointdf.sjoin(polydf, how="left")
grab_df = joined_df[['Name_left', 'Name_right', 'District']]
matched_pairs = sqldf.run('SELECT DISTINCT Name_left as station, Name_right as neighbourhood from grab_df where District = \'Boston\'')
matched_pairs.to_csv('data/neighbourhood_stations.csv')
insert_csv_as_table_in_local_postgres('data/neighbourhood_stations.csv', 'neighbourhood_stations')

In [12]:
test_df = run_sql_query_on_postgres_db('SELECT * FROM neighbourhood_stations')
test_df

,Unnamed: 0,station,neighbourhood
0,0,175 N Harvard St,Allston
1,1,2 Hummingbird Lane at Olmsted Green,Mattapan
2,2,555 Metropolitan Ave,Hyde Park
3,3,606 American Legion Hwy at Canterbury St,Roslindale
4,4,645 Summer St,South Boston Waterfront
...,...,...,...
245,245,Wentworth Institute of Technology - Huntington...,Fenway
246,246,West End Park,West End
247,247,Western Ave at Richardson St,Brighton
248,248,Whittier St Health Center,Roxbury
249,249,Williams St at Washington St,Jamaica Plain

In [13]:
#Join trips and station key using the run_sql_query_on_postgres_db function
def insert_df_as_table_in_local_postgres(df, tablename):
    # Create a connection to the database
    conn = connect_to_local_postgres_db()
    # Append the data to the `trips` table
    df.to_sql(tablename, conn, index=False, if_exists='append')
    # Close the connection
    conn.close()

def join_trips_and_station_key_tables():
    # Create the SQL query
    sql_query = """
    SELECT
        j.*,
        s1.neighbourhood as start_neighbourhood,
        s2.neighbourhood as end_neighbourhood
    FROM journeys AS j
    LEFT JOIN neighbourhood_stations AS s1
    ON j.start_station_name = s1.station
    LEFT JOIN neighbourhood_stations AS s2
    ON j.end_station_name = s2.station

    """
    # Run the query and return the DataFrame
    df = run_sql_query_on_postgres_db(sql_query)
    insert_df_as_table_in_local_postgres(df, 'journeys_enriched')

join_trips_and_station_key_tables()

In [14]:
# Write a Dash application in Python to visualise number of bike trips by neighbourhood
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px    


def create_dash_application(group_by='start_neighbourhood'):
    # Create the Dash app
    app = dash.Dash(__name__)
    # Create a DataFrame from the Postgres table
    df = run_sql_query_on_postgres_db('SELECT {}, COUNT(*) as journeys_count FROM journeys_enriched group by 1'.format(group_by))
    # Create a bar chart of the number of trips by neighbourhood
    fig = px.bar(df, x=group_by, y='journeys_count')
    # Create the Dash app layout
    app.layout = html.Div(children=[
        html.H1(children='Hello Dash'),
        dcc.Graph(
            id='example-graph',
            figure=fig
        )
    ])
    # Return the app
    return app

# Run the application
app = create_dash_application()
app.run_server(debug=True, use_reloader=False)  # Turn off reloader if inside Jupyter

/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_1599/3134024497.py:3: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_1599/3134024497.py:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

Dash is running on http://127.0.0.1:8050/

 * Tip: There are .env or .flaskenv files present. Do "pip install python-dotenv" to use them.

 * Serving Flask app '__main__'
 * Debug mode: on

In [ ]:
# Create a class that defines the functions defined above as methods, executes them, creates a Dash app, and runs the app

import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px   
from sqlalchemy import create_engine
from datetime import datetime
from urllib import request
from zipfile import ZipFile
import pandas as pd


class BlueBikesDataPipeline:
    def __init__(self, group_by='start_neighbourhood'):
        self.group_by = group_by

    def get_current_time(self):
        return datetime.now()
    def connect_to_local_postgres_db(self):
        # Create the engine to connect to the PostgreSQL database
        engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
        # Create a connection to the engine called `conn`
        conn = engine.connect()
        # Return the connection
        return conn
    def unzip_file_to_local_csv(self, zip_path):
        # Download the zip file from the URL
        request.urlretrieve(zip_path, 'data.zip')
        # Unzip the file
        ZipFile('data.zip').extractall('data')
        # Return the unzipped file
        # return 'data/tripdata.csv'
    def insert_csv_as_table_in_local_postgres(self, csv_path, tablename = 'journeys'):
        # Read in the DataFrame from the CSV file
        df = pd.read_csv(csv_path)
        # Create a connection to the database
        conn = connect_to_local_postgres_db()
        # Append the data to the `trips` table
        df.to_sql(tablename, conn, index=False, if_exists='append')
        # Close the connection
        conn.close()
    def call_prior_functions(self):
        # Unzip the file
        unzip_file_to_local_csv('https://s3.amazonaws.com/hubway-data/202304-bluebikes-tripdata.zip')
        # Insert the CSV into the database
        self.insert_csv_as_table_in_local_postgres('data/202304-bluebikes-tripdata.csv')
    def run_sql_query_on_postgres_db(self, query):
        # Create a connection to the database
        conn = self.connect_to_local_postgres_db()
        # Read the SQL query into a DataFrame
        df = pd.read_sql(query, conn)
        # Close the connection
        conn.close()
        # Return the DataFrame
        return df
    def insert_df_as_table_in_local_postgres(self, df, tablename):
        # Create a connection to the database
        conn = self.connect_to_local_postgres_db()
        # Append the data to the `trips` table
        df.to_sql(tablename, conn, index=False, if_exists='append')
        # Close the connection
        conn.close()
    def join_trips_and_station_key_tables(self):
        # Create the SQL query
        sql_query = """
        SELECT
            j.*,
            s1.neighbourhood as start_neighbourhood,
            s2.neighbourhood as end_neighbourhood
        FROM journeys AS j
        LEFT JOIN neighbourhood_stations AS s1
        ON j.start_station_name = s1.station
        LEFT JOIN neighbourhood_stations AS s2
        ON j.end_station_name = s2.station

        """
        # Run the query and return the DataFrame
        df = self.run_sql_query_on_postgres_db(sql_query)
        self.insert_df_as_table_in_local_postgres(df, 'journeys_enriched')

    def select_all_from_journeys_enriched(self):
        return self.run_sql_query_on_postgres_db('SELECT * FROM journeys_enriched')
    
    def create_dash_application(self):
        # Create the Dash app
        app = dash.Dash(__name__)
        # Create a DataFrame from the Postgres table
        df = self.run_sql_query_on_postgres_db('SELECT {}, COUNT(*) as journeys_count FROM journeys_enriched group by 1'.format(self.group_by))
        # Create a bar chart of the number of trips by neighbourhood
        fig = px.bar(df, x='start_neighbourhood', y='journeys_count')
        # Create the Dash app layout
        app.layout = html.Div(children=[
            html.H1(children='Hello Dash'),
            dcc.Graph(
                id='example-graph',
                figure=fig
            )
        ])
        # Return the app
        return app

/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2318/2344893944.py:4: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2318/2344893944.py:5: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [ ]:
main = BlueBikesDataPipeline()
main.select_all_from_journeys_enriched()
#main.create_dash_application().run_server(debug=True, use_reloader=False)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_neighbourhood,end_neighbourhood
0,0093AA5E7E3E0158,docked_bike,2023-04-13 13:49:59,2023-04-13 13:55:04,Innovation Lab - 125 Western Ave at Batten Way,A32011,Soldiers Field Park - 111 Western Ave,A32006,42.363713,-71.124598,42.364263,-71.118276,member,None,None
1,BFA8B88E063688F4,docked_bike,2023-04-25 09:44:38,2023-04-25 09:51:28,Museum of Science,M32045,One Broadway / Kendall Sq at Main St / 3rd St,M32003,42.367690,-71.071163,42.362242,-71.083111,member,None,None
2,A9C51FA200C31A81,docked_bike,2023-04-24 18:39:31,2023-04-24 18:58:05,New Balance - 20 Guest St,D32001,HMS/HSPH - Avenue Louis Pasteur at Longwood Ave,B32003,42.357329,-71.146735,42.337417,-71.102861,casual,None,None
3,0C1D451797FF0871,docked_bike,2023-04-04 19:25:31,2023-04-04 19:32:14,Museum of Science,M32045,Gore Street at Lambert Street,M32081,42.367690,-71.071163,42.373080,-71.086342,member,None,None
4,DDDCD0A2D2EE7A37,docked_bike,2023-04-11 08:36:14,2023-04-11 08:52:39,Museum of Science,M32045,Columbus Ave at W. Canton St,C32077,42.367690,-71.071163,42.344742,-71.076482,member,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888868,F4ECEA82D2C4B806,docked_bike,2023-04-18 09:10:33,2023-04-18 09:14:04,MIT at Mass Ave / Amherst St,M32006,Galileo Galilei Way at Main Street,M32072,42.358100,-71.093198,42.363004,-71.089740,member,None,None
888869,2667902845A5247B,docked_bike,2023-04-18 08:18:38,2023-04-18 08:23:07,MIT at Mass Ave / Amherst St,M32006,Galileo Galilei Way at Main Street,M32072,42.358100,-71.093198,42.363004,-71.089740,member,None,None
888870,D524CCC2E75AD37D,docked_bike,2023-04-17 11:34:35,2023-04-17 11:49:10,MIT at Mass Ave / Amherst St,M32006,Beacon St at Washington / Kirkland,S32003,42.358100,-71.093198,42.378754,-71.107072,member,None,None
888871,A41CB259754F6EF2,docked_bike,2023-04-06 17:26:11,2023-04-06 17:34:44,Central Sq Post Office / Cambridge City Hall a...,M32012,Beacon St at Washington / Kirkland,S32003,42.366426,-71.105495,42.378754,-71.107072,member,None,None
888872,8C0DA773DAF5531D,docked_bike,2023-04-22 12:16:07,2023-04-22 12:23:59,Central Sq Post Office / Cambridge City Hall a...,M32012,Galileo Galilei Way at Main Street,M32072,42.366426,-71.105495,42.363004,-71.089740,member,None,None

In [ ]:
# Create a class that executes the functions defined above, creates a Dash app, and runs the app
class BlueBikesDashboard:
    def __init__(self):
        pass

    def run(self):
        # Call the functions
        call_prior_functions()
        spatial_join_to_nearest_station()
        join_trips_and_station_key_tables()
        # Create the Dash app
        app = create_dash_application()
        # Run the app
        app.run_server(debug=True, use_reloader=False)

In [ ]:
# Write a class that creates a Dash app comparing the number of trips by start and end neighbourhood from the journeys_enriched table
class BlueBikesDashboard:
    def __init__(self):
        pass

    def run(self):
        # Create the Dash app
        app = create_dash_application()
        # Run the app
        app.run_server(debug=True, use_reloader=False)

In [ ]:
board = BlueBikesDashboard()
board.run()

NameError: name 'create_dash_application' is not defined

In [ ]:
# Create class with the following methods:
# - init: create a connection to the local postgres database
# - run_sql_query_on_postgres_db: run a SQL query on the database and return a DataFrame
# - create_dash_application: create a Dash app that displays the number of trips by start and end neighbourhood
# - run: call the create_dash_application method and run the app
from sqlalchemy import create_engine
import pandas as pd
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px

class BlueBikesDashboard:

    def __init__(self):
        engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
        # Create a connection to the engine called `conn`
        self.conn = engine.connect()
    
    def run_sql_query_on_postgres_db(self, query):
        # Read the SQL query into a DataFrame
        df = pd.read_sql(query, self.conn)
        # Return the DataFrame
        return df
    def join_trips_and_station_key_tables(self):
        # Create the SQL query
        sql_query = """
        SELECT
            j.*,
            s1.neighbourhood as start_neighbourhood,
            s2.neighbourhood as end_neighbourhood
        FROM journeys AS j
        LEFT JOIN neighbourhood_stations AS s1
        ON j.start_station_name = s1.station
        LEFT JOIN neighbourhood_stations AS s2
        ON j.end_station_name = s2.station

        """
        # Run the query and return the DataFrame
        df = self.run_sql_query_on_postgres_db(sql_query)
        self.insert_df_as_table_in_local_postgres(df, 'journeys_enriched')
        
    def create_dash_application(self, group_by='start_neighbourhood'):
        # Create the Dash app
        app = dash.Dash(__name__)
        # Create a DataFrame from the Postgres table
        df = self.run_sql_query_on_postgres_db('SELECT {}, COUNT(*) as journeys_count FROM journeys_enriched group by 1'.format(group_by))
        # Create a bar chart of the number of trips by neighbourhood
        fig = px.bar(df, x='start_neighbourhood', y='journeys_count')
        # Create the Dash app layout
        app.layout = html.Div(children=[
            html.H1(children='Hello Dash'),
            dcc.Graph(
                id='example-graph',
                figure=fig
            )
        ])
        # Return the app
        return app
    def run(self):
        # Create the Dash app
        app = self.create_dash_application()
        # Run the app
        app.run_server(debug=True, use_reloader=False)

/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2614/2131602213.py:9: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2614/2131602213.py:10: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [ ]:
# Create an instance of BlueBikesDashboard and run the app  
board = BlueBikesDashboard()
board.join_trips_and_station_key_tables()
board.run()

:

:

In [3]:
%%writefile bikeshareai/bluebikes.py
# Create two classes:
# The first one should include the following methods:
# __init__: Takes a URL of a zip file as argument, and unzips the file into a CSV in the data folder
# connect_to_db: Creates and returns a connection to the local PostgreSQL database using the sqlalchemy package.
# csv_to_db: Takes the arguments table_name and csv_path. If no table with the name table_name exists in the local PostgreSQL, then insert the csv located at csv_path as a table with the name table_name
# geojoin: Takes the argument geojson_path. Runs the csv_to_db method on 'data/current_bluebikes_stations.csv', with stations as the table_name. Loads the data from geojson path as polydf, loads the table stations as a Geopandas GeoDataFrame with epsg='4326', and then performs a spatial join between polydf and the stations GeoDataFrame. The resulting Dataframe should be written to the local PostgreSQL database as the table neighbourhood_stations
# enrich_journeys: This method joins the journeys and neighbourhood_stations tables using journeys.start_station_name = neighbourhood_stations.station twice, producing a table with all of the columns from journeys, plus the start and end neighbourhoods and stations for each journey, creating a table in the PostgreSQL database called journeys_enriched
# The second one should include the following methods:
# - create_dash_application: create a Dash app that displays the number of trips by start and end neighbourhood, from the journeys_enriched table
# - run: call the create_dash_application method and run the app
from sqlalchemy import create_engine
import pandas as pd
from urllib import request
from zipfile import ZipFile
from geopandas import GeoDataFrame, read_file, points_from_xy
import sqldf
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px

class BlueBikesDataPipeline:
    def __init__(self, url):
        self.url = url
        self.engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
        # Create a connection to the engine called `conn`
        self.conn = self.engine.connect()
    def unzip_file_to_local_csv(self):
        # Download the zip file from the URL
        request.urlretrieve(self.url, 'data.zip')
        # Unzip the file
        ZipFile('data.zip').extractall('data')
        # Return the unzipped file
        # return 'data/tripdata.csv'
    def csv_to_db(self, table_name, csv_path):
        # Read in the DataFrame from the CSV file
        df = pd.read_csv(csv_path)
        # Append the data to the `trips` table
        df.to_sql(table_name, self.conn, index=False, if_exists='append')
    def geojoin(self, geojson_path):
        # Read in the DataFrame from the CSV file
        df = pd.read_csv('data/current_bluebikes_stations.csv')
        # Append the data to the `trips` table
        df.to_sql('stations', self.conn, index=False, if_exists='append')
        # Boston neighbourhoods
        polydf = read_file(geojson_path)
        stations = pd.read_sql('SELECT * FROM stations', self.conn)
        pointdf = GeoDataFrame(
            stations, geometry=points_from_xy(stations.Longitude, stations.Latitude))
        pointdf.set_crs(epsg='4326', inplace=True)
        joined_df = pointdf.sjoin(polydf, how="left")
        grab_df = joined_df[['Name_left', 'Name_right', 'District']]
        matched_pairs = sqldf.run('SELECT DISTINCT Name_left as station, Name_right as neighbourhood from grab_df where District = \'Boston\'')
        matched_pairs.to_sql('neighbourhood_stations', self.conn, index=False, if_exists='append')

    def enrich_journeys(self):
        # Create the SQL query
        sql_query = """
        SELECT
            j.*,
            s1.neighbourhood as start_neighbourhood,
            s2.neighbourhood as end_neighbourhood
        FROM journeys AS j
        LEFT JOIN neighbourhood_stations AS s1
        ON j.start_station_name = s1.station
        LEFT JOIN neighbourhood_stations AS s2
        ON j.end_station_name = s2.station

        """
        # Run the query and return the DataFrame
        df = pd.read_sql(sql_query, self.conn)
        df.to_sql('journeys_enriched', self.conn, index=False, if_exists='append')

class BlueBikesDashboard:

    def __init__(self):
        pass

    def create_dash_application(self, group_by='start_neighbourhood'):
        # Create the Dash app
        app = dash.Dash(__name__)
        # Create a DataFrame from the Postgres table
        df = pd.read_sql('SELECT {}, COUNT(*) as journeys_count FROM journeys_enriched group by 1'.format(group_by), self.conn)
        # Create a bar chart of the number of trips by neighbourhood
        fig = px.bar(df, x='start_neighbourhood', y='journeys_count')
        # Create the Dash app layout
        app.layout = html.Div(children=[
            html.H1(children='Hello Dash'),
            dcc.Graph(
                id='example-graph',
                figure=fig
            )
        ])
        # Return the app
        return app
    def run(self):
        # Create the Dash app
        app = self.create_dash_application()
        # Run the app
        app.run_server(debug=True, use_reloader=False)

Writing bikeshareai/bluebikes.py

In [1]:
from bikeshareai.bluebikes import BlueBikesDataPipeline, BlueBikesDashboard
# Create an instance of BlueBikesDataPipeline and run the methods
pipeline = BlueBikesDataPipeline('https://s3.amazonaws.com/hubway-data/202304-bluebikes-tripdata.zip')
pipeline.unzip_file_to_local_csv()
pipeline.csv_to_db('journeys', 'data/202304-bluebikes-tripdata.csv')
pipeline.geojoin('data/Boston_Neighborhoods.geojson')
pipeline.enrich_journeys()
# Create an instance of BlueBikesDashboard and run the app
board = BlueBikesDashboard()
board.run()

/Users/desmondmolloy/Documents/GitHub/BikeShareAI/bikeshareai/bluebikes.py:18: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/Users/desmondmolloy/Documents/GitHub/BikeShareAI/bikeshareai/bluebikes.py:19: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

AttributeError: module '__main__' has no attribute 'grab_df'

The geojoin class had to be modified by hand, as sqldf cannot be run within a function. We therefore removed it from the imported packages to see if this would induce Copilot to choose a different joining method

In [1]:
%%writefile bikeshareai/bluebikes.py
# Create two classes:
# The first one should include the following methods:
# __init__: Takes a URL of a zip file as argument, and unzips the file into a CSV in the data folder
# connect_to_db: Creates and returns a connection to the local PostgreSQL database using the sqlalchemy package.
# csv_to_db: Takes the arguments table_name and csv_path. If no table with the name table_name exists in the local PostgreSQL, then insert the csv located at csv_path as a table with the name table_name
# geojoin: Takes the argument geojson_path. Runs the csv_to_db method on 'data/current_bluebikes_stations.csv', with stations as the table_name. Loads the data from geojson path as polydf, loads the table stations as a Geopandas GeoDataFrame with epsg='4326', and then performs a spatial join between polydf and the stations GeoDataFrame, using pandas to select the stations and neighbourhood for stations in Boston. The resulting Dataframe should be written to the local PostgreSQL database as the table neighbourhood_stations
# enrich_journeys: This method joins the journeys and neighbourhood_stations tables using journeys.start_station_name = neighbourhood_stations.station twice, producing a table with all of the columns from journeys, plus the start and end neighbourhoods and stations for each journey, creating a table in the PostgreSQL database called journeys_enriched
# The second one should include the following methods:
# - create_dash_application: create a Dash app that displays the number of trips by start and end neighbourhood, from the journeys_enriched table
# - run: call the create_dash_application method and run the app
from sqlalchemy import create_engine
import pandas as pd
from urllib import request
from zipfile import ZipFile
from geopandas import GeoDataFrame, read_file, points_from_xy
import dash
#import dash_core_components as dcc
from dash import dcc
#import dash_html_components as html
from dash import html
import plotly.express as px

class BlueBikesDataPipeline:

    def __init__(self, url):
        self.url = url
        self.engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
        # Create a connection to the engine called `conn`
        self.conn = self.engine.connect()
    
    def unzip_file_to_local_csv(self):
        # Download the zip file from the URL
        request.urlretrieve(self.url, 'data.zip')
        # Unzip the file
        ZipFile('data.zip').extractall('data')
        # Return the unzipped file
        # return 'data/tripdata.csv'
    
    def csv_to_db(self, table_name, csv_path):
        # Read in the DataFrame from the CSV file
        df = pd.read_csv(csv_path)
        # Append the data to the `trips` table
        df.to_sql(table_name, self.conn, index=False, if_exists='append')
    
    def geojoin(self, geojson_path):
        # Read in the DataFrame from the CSV file
        df = pd.read_csv('data/current_bluebikes_stations.csv')
        # Append the data to the `trips` table
        df.to_sql('stations', self.conn, index=False, if_exists='append')
        # Boston neighbourhoods
        polydf = read_file(geojson_path)
        stations = pd.read_sql('SELECT * FROM stations', self.conn)
        pointdf = GeoDataFrame(
            stations, geometry=points_from_xy(stations.Longitude, stations.Latitude))
        pointdf.set_crs(epsg='4326', inplace=True)
        joined_df = pointdf.sjoin(polydf, how="left")
        grab_df = joined_df[['Name_left', 'Name_right', 'District']]
        matched_pairs_with_pandas = grab_df[grab_df['District'] == 'Boston']
        matched_pairs_with_pandas.columns = ['station', 'neighbourhood', 'District']
        #matched_pairs = sqldf.run('SELECT DISTINCT Name_left as station, Name_right as neighbourhood from grab_df where District = \'Boston\'')
        matched_pairs_with_pandas.to_sql('neighbourhood_stations', self.conn, index=False, if_exists='append')

    def enrich_journeys(self):
        # Create the SQL query
        sql_query = """
        SELECT
            j.*,
            s1.neighbourhood as start_neighbourhood,
            s2.neighbourhood as end_neighbourhood
        FROM journeys AS j
        LEFT JOIN neighbourhood_stations AS s1
        ON j.start_station_name = s1.station
        LEFT JOIN neighbourhood_stations AS s2
        ON j.end_station_name = s2.station

        """
        # Run the query and return the DataFrame
        df = pd.read_sql(sql_query, self.conn)
        df.to_sql('journeys_enriched', self.conn, index=False, if_exists='append')
    
class BlueBikesDashboard:
    def __init__(self):
        self.engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
        # Create a connection to the engine called `conn`
        self.conn = self.engine.connect()
    def create_dash_application(self, group_by='start_neighbourhood'):
        # Create the Dash app
        app = dash.Dash(__name__)
        # Create a DataFrame from the Postgres table
        df = pd.read_sql('SELECT {}, COUNT(*) as journeys_count FROM journeys_enriched group by 1'.format(group_by), self.conn)
        # Create a bar chart of the number of trips by neighbourhood
        fig = px.bar(df, x='start_neighbourhood', y='journeys_count')
        # Create the Dash app layout
        app.layout = html.Div(children=[
            html.H1(children='Hello Dash'),
            dcc.Graph(
                id='example-graph',
                figure=fig
            )
        ])
        # Return the app
        return app
    def run(self):
        # Create the Dash app
        app = self.create_dash_application()
        # Run the app
        app.run_server(debug=True, use_reloader=False)

Overwriting bikeshareai/bluebikes.py

Calling for "matched pairs with pandas" enabled Copilot to skip the hurdle

In [ ]:
from bikeshareai.bluebikes import BlueBikesDataPipeline, BlueBikesDashboard
# Create an instance of BlueBikesDataPipeline and run the methods
pipeline = BlueBikesDataPipeline('https://s3.amazonaws.com/hubway-data/202304-bluebikes-tripdata.zip')
pipeline.unzip_file_to_local_csv()
pipeline.csv_to_db('journeys', 'data/202304-bluebikes-tripdata.csv')
pipeline.geojoin('data/Boston_Neighborhoods.geojson')
pipeline.enrich_journeys()

In [4]:
# Create an instance of BlueBikesDashboard and run the app
board = BlueBikesDashboard()
board.run()

Dash is running on http://127.0.0.1:8050/

 * Tip: There are .env or .flaskenv files present. Do "pip install python-dotenv" to use them.

 * Serving Flask app '__main__'
 * Debug mode: on