In [5]:
# Create two classes:
# The first one should include the following methods:
# __init__: Takes a URL of a zip file as argument, and unzips the file into a CSV in the data folder
# connect_to_db: Creates and returns a connection to the local PostgreSQL database using the sqlalchemy package.
# df_to_db: Takes the arguments table_name and dataframe. If no table with the name table_name exists in the local PostgreSQL, then insert the csv located at csv_path as a table with the name table_name
# main_join: Takes the arguments geojson_path, station_path, and journeys_path. Loads the csv at station_path as a dataframe called stations, and the csv at journeys_path as journeys. Loads the data from geojson path as polydf, loads the table stations as a Geopandas GeoDataFrame with epsg='4326', and then performs a spatial join between polydf and the stations GeoDataFrame. 
# The resulting Dataframe should be joined to the journey dataframe using journeys.start_station_name = neighbourhood_stations.station twice, producing a table with all of the columns from journeys, plus the start and end neighbourhoods and stations for each journey. Finally, the resulting DataFrame should be written to the PostgreSQL database as a table called journeys_enriched
# The second one should include the following methods:
# - create_dash_application: create a Dash application. In this application, 
#it should be possible to select the number of journeys or the average duration as response_variable, and then summarise response_variable by any of the following variables:
# start_neighbourhood
# end_neighbourhood
# day_of_week
# hour_of_day
# month_of_year
# - run: call the create_dash_application method and run the app

from sqlalchemy import create_engine
import pandas as pd
from urllib import request
from zipfile import ZipFile
from geopandas import GeoDataFrame, read_file, points_from_xy
import dash
#import dash_core_components as dcc
from dash import dcc
#import dash_html_components as html
from dash import html
import plotly.express as px

class BlueBikesDataPipeline:

    def __init__(self, url):
        self.url = url
        self.engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
        # Create a connection to the engine called `conn`
        self.conn = self.engine.connect()
    
    def unzip_file_to_local_csv(self):
        # Download the zip file from the URL
        request.urlretrieve(self.url, 'data.zip')
        # Unzip the file
        ZipFile('data.zip').extractall('data')
        # Return the unzipped file
        # return 'data/tripdata.csv'
    
    def df_to_db(self, table_name, dataframe):
        # Append the data to the `trips` table
        dataframe.to_sql(table_name, self.conn, index=False, if_exists='append')
    
    def main_join(self, geojson_path, station_path, journeys_path):
        poly_df = read_file(geojson_path)
#        poly_df = poly_df[poly_df['District'] == 'Boston']
        poly_df = poly_df[['Name', 'geometry']]
        poly_df.columns = ['neighbourhood', 'geometry']
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.lower()
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace(' ', '_')
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('-', '_')
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('\'', '')
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('(', '')
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace(')', '')
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('.', '')
        poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('&', 'and')
        # Here is where manual was added
        stations = pd.read_csv(station_path)
        #stations = stations[['Station ID', 'Station Name', 'Latitude', 'Longitude']]
        stations = stations[['Number', 'Name', 'Latitude', 'Longitude']]
        stations.columns = ['station_id', 'station_name', 'latitude', 'longitude']
        stations['station_name'] = stations['station_name'].str.lower()
        stations['station_name'] = stations['station_name'].str.replace(' ', '_')
        stations['station_name'] = stations['station_name'].str.replace('-', '_')
        stations['station_name'] = stations['station_name'].str.replace('\'', '')
        stations['station_name'] = stations['station_name'].str.replace('(', '')
        stations['station_name'] = stations['station_name'].str.replace(')', '')
        stations['station_name'] = stations['station_name'].str.replace('.', '')
        stations['station_name'] = stations['station_name'].str.replace('&', 'and')
        # Here, the loop began again, forcing manual changes
        stations_geo = GeoDataFrame(stations, geometry=points_from_xy(stations.longitude, stations.latitude))
        stations_geo.set_crs(epsg='4326', inplace=True)
        joined_df = stations_geo.sjoin(poly_df, how="left")
        #grab_df = joined_df[['Name_left', 'Name_right', 'District']]
        #matched_pairs_with_pandas = grab_df[grab_df['District'] == 'Boston']
        #matched_pairs_with_pandas.columns = ['station', 'neighbourhood', 'District']
        # Create a SparkSession
        #spark = SparkSession.builder.appName("BlueBikes").getOrCreate()
        # Create a schema for the dataframe
        #schema = StructType([])
        # Load the CSV file into a dataframe
        #journeys = spark.read.csv(journeys_path, header=True, schema=schema)
        journeys_pandas_df = pd.read_csv(journeys_path)
        #started_at was actual name
        journeys_pandas_df = journeys_pandas_df[['started_at', 'ended_at', 'start_station_name', 'end_station_name']]
        journeys_pandas_df.columns = ['started_at', 'ended_at', 'start_station_name', 'end_station_name']
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.lower()
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(' ', '_')
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('-', '_')
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('\'', '')
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('(', '')
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(')', '')
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('.', '')
        journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('&', 'and')
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.lower()
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(' ', '_')
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('-', '_')
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('\'', '')
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('(', '')
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(')', '')
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('.', '')
        journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('&', 'and')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(' ', '_')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(' ', '_')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('-', '_')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('-', '_')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('\'', '')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('\'', '')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('(', '')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('(', '')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(')', '')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(')', '')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('.', '')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('.', '')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('&', 'and')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('&', 'and')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(' ', '_')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(' ', '_')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('-', '_')
        #journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('-', '_')
        #journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('\'', '')
        #Broke loop here with journeys_enriched call
        journeys_enriched = pd.merge(journeys_pandas_df, joined_df, how='left', left_on='start_station_name', right_on='station_name')
        journeys_enriched = pd.merge(journeys_enriched, joined_df, how='left', left_on='end_station_name', right_on='station_name')
        journeys_enriched = journeys_enriched[['started_at', 'ended_at', 'start_station_name', 'end_station_name', 'neighbourhood_x', 'neighbourhood_y']]
        journeys_enriched.columns = ['started_at', 'ended_at', 'start_station_name', 'end_station_name', 'start_neighbourhood', 'end_neighbourhood']
        #journeys_enriched = journeys_enriched[['started_at', 'ended_at', 'start_station_name', 'end_station_name', 'duration', 'Name_left', 'Name_right']]
        #journeys_enriched.columns = ['started_at', 'ended_at', 'start_station_name', 'end_station_name', 'duration', 'start_neighbourhood', 'end_neighbourhood']
        journeys_enriched['started_at'] = pd.to_datetime(journeys_enriched['started_at'])
        journeys_enriched['ended_at'] = pd.to_datetime(journeys_enriched['ended_at'])
        journeys_enriched['day_of_week'] = journeys_enriched['started_at'].dt.day_name()
        journeys_enriched['hour_of_day'] = journeys_enriched['started_at'].dt.hour
        journeys_enriched['month_of_year'] = journeys_enriched['started_at'].dt.month_name()
        #Beneath was added manually, but completed by Copilot
        journeys_enriched["duration"] = journeys_enriched["ended_at"] - journeys_enriched["started_at"]
        journeys_enriched['duration'] = journeys_enriched['duration'] / 60
        # Write the dataframe to the `trips` table
        journeys_enriched.to_sql('journeys_enriched', self.conn, index=False, if_exists='replace')
        # Close the connection
        self.conn.close()
        # Stop the SparkSession
        #spark.stop()

class BlueBikesDashboardLocal:
    def __init__(self):
        self.engine = create_engine('postgresql://postgres:postgres@localhost:5432/desmondmolloy')
        # Create a connection to the engine called `conn`
        self.conn = self.engine.connect()
    
    def create_dash_application(self, response_variable='journeys_count', group_by='start_neighbourhood'):
        # Create the Dash app
        app = dash.Dash(__name__)
        # Create a DataFrame from the Postgres table
        assert response_variable in ['journeys_count', 'journey_duration']
        if response_variable == 'journeys_count':
            df = pd.read_sql('SELECT {}, COUNT(*) as journeys_count FROM journeys_enriched group by 1'.format(group_by), self.conn)
        else:
            df = pd.read_sql('SELECT {}, AVG(journey_duration) as journey_duration FROM journeys_enriched group by 1'.format(group_by), self.conn)
        df = pd.read_sql('SELECT {}, COUNT(*) as journeys_count FROM journeys_enriched group by 1'.format(group_by), self.conn)
        # Create a bar chart of the number of trips by neighbourhood
        fig = px.bar(df, x=group_by, y=response_variable)
        # Create the Dash app layout
        app.layout = html.Div(children=[
            html.H1(children='Hello Dash'),
            dcc.Graph(
                id='example-graph',
                figure=fig
            )
        ])
        return app
    
    def run(self):
    # Create the Dash app
        app = self.create_dash_application()
    # Run the app
        app.run_server(debug=True, use_reloader=False)

In [6]:
#from bikeshareai.bluebikes import BlueBikesDataPipeline, BlueBikesDashboard
# Create an instance of BlueBikesDataPipeline and run the methods
#pipeline = BlueBikesDataPipeline('https://s3.amazonaws.com/hubway-data/202304-bluebikes-tripdata.zip')
#pipeline.unzip_file_to_local_csv()
#Arguments were automatically suggested
#pipeline.main_join('data/Boston_Neighborhoods.geojson', 'data/current_bluebikes_stations.csv', 'data/202304-bluebikes-tripdata.csv')
#pipeline.df_to_db('journeys_enriched', 'data/202304-bluebikes-tripdata.csv')
# Create an instance of BlueBikesDashboard and run the methods
dashboard = BlueBikesDashboardLocal()
dashboard.run()

Dash is running on http://127.0.0.1:8050/

 * Tip: There are .env or .flaskenv files present. Do "pip install python-dotenv" to use them.

 * Serving Flask app '__main__'
 * Debug mode: on

In [ ]:
poly_df = read_file('data/Boston_Neighborhoods.geojson')
#        poly_df = poly_df[poly_df['District'] == 'Boston']
poly_df = poly_df[['Name', 'geometry']]
poly_df.columns = ['neighbourhood', 'geometry']
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.lower()
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace(' ', '_')
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('-', '_')
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('\'', '')
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('(', '')
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace(')', '')
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('.', '')
poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('&', 'and')
# Here is where manual was added
stations = pd.read_csv('data/current_bluebikes_stations.csv')
#stations = stations[['Station ID', 'Station Name', 'Latitude', 'Longitude']]
stations = stations[['Number', 'Name', 'Latitude', 'Longitude']]
stations.columns = ['station_id', 'station_name', 'latitude', 'longitude']
stations['station_name'] = stations['station_name'].str.lower()
stations['station_name'] = stations['station_name'].str.replace(' ', '_')
stations['station_name'] = stations['station_name'].str.replace('-', '_')
stations['station_name'] = stations['station_name'].str.replace('\'', '')
stations['station_name'] = stations['station_name'].str.replace('(', '')
stations['station_name'] = stations['station_name'].str.replace(')', '')
stations['station_name'] = stations['station_name'].str.replace('.', '')
stations['station_name'] = stations['station_name'].str.replace('&', 'and')
# Here, the loop began again, forcing manual changes
stations_geo = GeoDataFrame(stations, geometry=points_from_xy(stations.longitude, stations.latitude))
stations_geo.set_crs(epsg='4326', inplace=True)
joined_df = stations_geo.sjoin(poly_df, how="left")
#grab_df = joined_df[['Name_left', 'Name_right', 'District']]
#matched_pairs_with_pandas = grab_df[grab_df['District'] == 'Boston']
#matched_pairs_with_pandas.columns = ['station', 'neighbourhood', 'District']
# Create a SparkSession
#spark = SparkSession.builder.appName("BlueBikes").getOrCreate()
# Create a schema for the dataframe
#schema = StructType([])
# Load the CSV file into a dataframe
#journeys = spark.read.csv(journeys_path, header=True, schema=schema)
journeys_pandas_df = pd.read_csv('data/202304-bluebikes-tripdata.csv')
#started_at was actual name
journeys_pandas_df = journeys_pandas_df[['started_at', 'ended_at', 'start_station_name', 'end_station_name']]
journeys_pandas_df.columns = ['started_at', 'ended_at', 'start_station_name', 'end_station_name']
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.lower()
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(' ', '_')
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('-', '_')
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('\'', '')
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('(', '')
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(')', '')
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('.', '')
journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('&', 'and')
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.lower()
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(' ', '_')
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('-', '_')
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('\'', '')
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('(', '')
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(')', '')
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('.', '')
journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('&', 'and')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(' ', '_')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(' ', '_')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('-', '_')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('-', '_')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('\'', '')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('\'', '')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('(', '')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('(', '')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(')', '')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(')', '')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('.', '')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('.', '')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('&', 'and')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('&', 'and')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(' ', '_')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(' ', '_')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('-', '_')
#journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('-', '_')
#journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('\'', '')
#Broke loop here with journeys_enriched call
journeys_enriched = pd.merge(journeys_pandas_df, joined_df, how='left', left_on='start_station_name', right_on='station_name')
journeys_enriched = pd.merge(journeys_enriched, joined_df, how='left', left_on='end_station_name', right_on='station_name')
journeys_enriched

/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('(', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace(')', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  poly_df['neighbourhood'] = poly_df['neighbourhood'].str.replace('.', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  stations['station_name'] = stations['station_name'].str.replace('(', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  stations['station_name'] = stations['station_name'].str.replace(')', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  stations['station_name'] = stations['station_name'].str.replace('.', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:47: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('(', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:48: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace(')', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:49: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  journeys_pandas_df['start_station_name'] = journeys_pandas_df['start_station_name'].str.replace('.', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:55: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('(', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:56: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace(')', '')
/var/folders/63/7wfwn_sn3cv5zpj5dk7k9r3r0000gn/T/ipykernel_2530/352477324.py:57: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  journeys_pandas_df['end_station_name'] = journeys_pandas_df['end_station_name'].str.replace('.', '')

,started_at,ended_at,start_station_name,end_station_name,station_id_x,station_name_x,latitude_x,longitude_x,geometry_x,index_right_x,neighbourhood_x,station_id_y,station_name_y,latitude_y,longitude_y,geometry_y,index_right_y,neighbourhood_y
0,2023-04-13 13:49:59,2023-04-13 13:55:04,innovation_lab___125_western_ave_at_batten_way,soldiers_field_park___111_western_ave,A32011,innovation_lab___125_western_ave_at_batten_way,42.363713,-71.124598,POINT (-71.12460 42.36371),24.0,allston,A32006,soldiers_field_park___111_western_ave,42.364263,-71.118276,POINT (-71.11828 42.36426),24.0,allston
1,2023-04-25 09:44:38,2023-04-25 09:51:28,museum_of_science,one_broadway_/_kendall_sq_at_main_st_/_3rd_st,M32045,museum_of_science,42.367690,-71.071163,POINT (-71.07116 42.36769),NaN,NaN,M32003,one_broadway_/_kendall_sq_at_main_st_/_3rd_st,42.362242,-71.083111,POINT (-71.08311 42.36224),NaN,NaN
2,2023-04-24 18:39:31,2023-04-24 18:58:05,new_balance___20_guest_st,hms/hsph___avenue_louis_pasteur_at_longwood_ave,D32001,new_balance___20_guest_st,42.357329,-71.146735,POINT (-71.14674 42.35733),17.0,brighton,B32003,hms/hsph___avenue_louis_pasteur_at_longwood_ave,42.337417,-71.102861,POINT (-71.10286 42.33742),3.0,longwood
3,2023-04-04 19:25:31,2023-04-04 19:32:14,museum_of_science,gore_street_at_lambert_street,M32045,museum_of_science,42.367690,-71.071163,POINT (-71.07116 42.36769),NaN,NaN,M32081,gore_street_at_lambert_street,42.373080,-71.086342,POINT (-71.08634 42.37308),NaN,NaN
4,2023-04-11 08:36:14,2023-04-11 08:52:39,museum_of_science,columbus_ave_at_w_canton_st,M32045,museum_of_science,42.367690,-71.071163,POINT (-71.07116 42.36769),NaN,NaN,C32077,columbus_ave_at_w_canton_st,42.344742,-71.076482,POINT (-71.07648 42.34474),9.0,south_end
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296286,2023-04-18 09:10:33,2023-04-18 09:14:04,mit_at_mass_ave_/_amherst_st,galileo_galilei_way_at_main_street,M32006,mit_at_mass_ave_/_amherst_st,42.358100,-71.093198,POINT (-71.09320 42.35810),NaN,NaN,M32072,galileo_galilei_way_at_main_street,42.363004,-71.089740,POINT (-71.08974 42.36300),NaN,NaN
296287,2023-04-18 08:18:38,2023-04-18 08:23:07,mit_at_mass_ave_/_amherst_st,galileo_galilei_way_at_main_street,M32006,mit_at_mass_ave_/_amherst_st,42.358100,-71.093198,POINT (-71.09320 42.35810),NaN,NaN,M32072,galileo_galilei_way_at_main_street,42.363004,-71.089740,POINT (-71.08974 42.36300),NaN,NaN
296288,2023-04-17 11:34:35,2023-04-17 11:49:10,mit_at_mass_ave_/_amherst_st,beacon_st_at_washington_/_kirkland,M32006,mit_at_mass_ave_/_amherst_st,42.358100,-71.093198,POINT (-71.09320 42.35810),NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
296289,2023-04-06 17:26:11,2023-04-06 17:34:44,central_sq_post_office_/_cambridge_city_hall_a...,beacon_st_at_washington_/_kirkland,M32012,central_sq_post_office_/_cambridge_city_hall_a...,42.366426,-71.105495,POINT (-71.10550 42.36643),NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
296290,2023-04-22 12:16:07,2023-04-22 12:23:59,central_sq_post_office_/_cambridge_city_hall_a...,galileo_galilei_way_at_main_street,M32012,central_sq_post_office_/_cambridge_city_hall_a...,42.366426,-71.105495,POINT (-71.10550 42.36643),NaN,NaN,M32072,galileo_galilei_way_at_main_street,42.363004,-71.089740,POINT (-71.08974 42.36300),NaN,NaN